@charset "utf-8";
.bgc {
  height: 1.25rem;
  background-color: #F5F5F5;
}
.content_template {
        height: 80%;
        .changePwd {
          margin-top:3rem;
          i {
            color: red;
          }
          p {
            height: 4.375rem;
            padding-top:0.625rem;
            span {
              width: 9rem;
              height: 3.125rem;
              display: inline-block;
              text-align: right;
              line-height: 3.125rem;
              padding-right:0.625rem;
            }
            input {
              width: 500px;
              height: 3.125rem;
              padding-left: 1.25rem;
            }
          }
          .help-block {
            display: none;
            color: #3595EC;
            s {
              width: 0.875rem;
              height: 0.875rem;
              display: inline-block;
              background: url("../../images/tips.png");
              background-size: 100%,100%;
              vertical-align: top;
              margin:0.125rem 0.3125rem 0 0;
            }
          }
          a {
            display: inline-block;
            line-height: 3.125rem;
            text-align: center;
            width: 9.375rem;
            height: 3.125rem;
            background-color: #007ED6;
            color: #fff;
            margin:2.5rem 2.5rem 0 0;
            margin-left:9rem;
          }
        }
      }


